<?php
/**
 * GradebookEntriesApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * GradebookEntriesApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class GradebookEntriesApi
{

    /**
     * API Client
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://api.ed-fi.org/api/api/v2.0/2015');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     * @return GradebookEntriesApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * deleteGradebookEntryById
     *
     * Deletes an existing resource using the resource identifier.
     *
     * @param string $id A resource identifier specifying the resource to be deleted. (required)
     * @param string $if_match The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteGradebookEntryById($id, $if_match = null)
    {
        list($response, $statusCode, $httpHeader) = $this->deleteGradebookEntryByIdWithHttpInfo ($id, $if_match);
        return $response; 
    }


    /**
     * deleteGradebookEntryByIdWithHttpInfo
     *
     * Deletes an existing resource using the resource identifier.
     *
     * @param string $id A resource identifier specifying the resource to be deleted. (required)
     * @param string $if_match The ETag header value used to prevent the DELETE from removing a resource modified by another consumer. (optional)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function deleteGradebookEntryByIdWithHttpInfo($id, $if_match = null)
    {
        
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteGradebookEntryById');
        }
  
        // parse inputs
        $resourcePath = "/gradebookEntries/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        // header params
        
        if ($if_match !== null) {
            $headerParams['If-Match'] = $this->apiClient->getSerializer()->toHeaderValue($if_match);
        }
        // path params
        
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'DELETE',
                $queryParams, $httpBody,
                $headerParams
            );
            
            return array(null, $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 500:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\WebServiceError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getGradebookEntriesById
     *
     * Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).
     *
     * @param string $id A resource identifier specifying the resource to be retrieved. (required)
     * @param string $if_none_match The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return \Swagger\Client\Model\GradebookEntry
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getGradebookEntriesById($id, $if_none_match = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getGradebookEntriesByIdWithHttpInfo ($id, $if_none_match);
        return $response; 
    }


    /**
     * getGradebookEntriesByIdWithHttpInfo
     *
     * Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).
     *
     * @param string $id A resource identifier specifying the resource to be retrieved. (required)
     * @param string $if_none_match The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return Array of \Swagger\Client\Model\GradebookEntry, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getGradebookEntriesByIdWithHttpInfo($id, $if_none_match = null)
    {
        
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getGradebookEntriesById');
        }
  
        // parse inputs
        $resourcePath = "/gradebookEntries/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        // header params
        
        if ($if_none_match !== null) {
            $headerParams['If-None-Match'] = $this->apiClient->getSerializer()->toHeaderValue($if_none_match);
        }
        // path params
        
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\GradebookEntry'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\GradebookEntry', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\GradebookEntry', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 500:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\WebServiceError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getGradebookEntryByKey
     *
     * Retrieves a specific resource using the values of the resource's natural key (using the \"Get By Key\" pattern).
     *
     * @param string $title The name or title of the activity to be recorded in the gradebook entry. (required)
     * @param string $classroom_identification_code A unique number or alphanumeric code assigned to a room by a school, school system, state, or other agency or entity. (required)
     * @param int $school_id School Identity Column (required)
     * @param string $class_period_name An indication of the portion of a typical daily session in which students receive instruction in a specified subject (e.g., morning, sixth period, block period, or AB schedules).   NEDM: Class Period (required)
     * @param string $local_course_code The local code assigned by the LEA or Campus that identifies the organization of subject matter and related learning experiences provided for the instruction of students. (required)
     * @param int $school_year The identifier for the school year. (required)
     * @param string $term_descriptor A unique identifier used as Primary Key, not derived from business logic, when acting as Foreign Key, references the parent table. (required)
     * @param string $unique_section_code A unique identifier for the section, that is defined for a campus by the classroom, the subjects taught, and the instructors that are assigned.  NEDM: Unique Course Code (required)
     * @param int $sequence_of_course When a section is part of a sequence of parts for a course, the number if the sequence.  If the course has only onle part, the value of this section attribute should be 1. (required)
     * @param \Swagger\Client\Model\Object $date_assigned The date the assignment, homework, or assessment was assigned or executed. (required)
     * @param string $if_none_match The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return \Swagger\Client\Model\GradebookEntry
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getGradebookEntryByKey($title, $classroom_identification_code, $school_id, $class_period_name, $local_course_code, $school_year, $term_descriptor, $unique_section_code, $sequence_of_course, $date_assigned, $if_none_match = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getGradebookEntryByKeyWithHttpInfo ($title, $classroom_identification_code, $school_id, $class_period_name, $local_course_code, $school_year, $term_descriptor, $unique_section_code, $sequence_of_course, $date_assigned, $if_none_match);
        return $response; 
    }


    /**
     * getGradebookEntryByKeyWithHttpInfo
     *
     * Retrieves a specific resource using the values of the resource's natural key (using the \"Get By Key\" pattern).
     *
     * @param string $title The name or title of the activity to be recorded in the gradebook entry. (required)
     * @param string $classroom_identification_code A unique number or alphanumeric code assigned to a room by a school, school system, state, or other agency or entity. (required)
     * @param int $school_id School Identity Column (required)
     * @param string $class_period_name An indication of the portion of a typical daily session in which students receive instruction in a specified subject (e.g., morning, sixth period, block period, or AB schedules).   NEDM: Class Period (required)
     * @param string $local_course_code The local code assigned by the LEA or Campus that identifies the organization of subject matter and related learning experiences provided for the instruction of students. (required)
     * @param int $school_year The identifier for the school year. (required)
     * @param string $term_descriptor A unique identifier used as Primary Key, not derived from business logic, when acting as Foreign Key, references the parent table. (required)
     * @param string $unique_section_code A unique identifier for the section, that is defined for a campus by the classroom, the subjects taught, and the instructors that are assigned.  NEDM: Unique Course Code (required)
     * @param int $sequence_of_course When a section is part of a sequence of parts for a course, the number if the sequence.  If the course has only onle part, the value of this section attribute should be 1. (required)
     * @param \Swagger\Client\Model\Object $date_assigned The date the assignment, homework, or assessment was assigned or executed. (required)
     * @param string $if_none_match The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource. (optional)
     * @return Array of \Swagger\Client\Model\GradebookEntry, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getGradebookEntryByKeyWithHttpInfo($title, $classroom_identification_code, $school_id, $class_period_name, $local_course_code, $school_year, $term_descriptor, $unique_section_code, $sequence_of_course, $date_assigned, $if_none_match = null)
    {
        
        // verify the required parameter 'title' is set
        if ($title === null) {
            throw new \InvalidArgumentException('Missing the required parameter $title when calling getGradebookEntryByKey');
        }
        // verify the required parameter 'classroom_identification_code' is set
        if ($classroom_identification_code === null) {
            throw new \InvalidArgumentException('Missing the required parameter $classroom_identification_code when calling getGradebookEntryByKey');
        }
        // verify the required parameter 'school_id' is set
        if ($school_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $school_id when calling getGradebookEntryByKey');
        }
        // verify the required parameter 'class_period_name' is set
        if ($class_period_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $class_period_name when calling getGradebookEntryByKey');
        }
        // verify the required parameter 'local_course_code' is set
        if ($local_course_code === null) {
            throw new \InvalidArgumentException('Missing the required parameter $local_course_code when calling getGradebookEntryByKey');
        }
        // verify the required parameter 'school_year' is set
        if ($school_year === null) {
            throw new \InvalidArgumentException('Missing the required parameter $school_year when calling getGradebookEntryByKey');
        }
        // verify the required parameter 'term_descriptor' is set
        if ($term_descriptor === null) {
            throw new \InvalidArgumentException('Missing the required parameter $term_descriptor when calling getGradebookEntryByKey');
        }
        // verify the required parameter 'unique_section_code' is set
        if ($unique_section_code === null) {
            throw new \InvalidArgumentException('Missing the required parameter $unique_section_code when calling getGradebookEntryByKey');
        }
        // verify the required parameter 'sequence_of_course' is set
        if ($sequence_of_course === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sequence_of_course when calling getGradebookEntryByKey');
        }
        // verify the required parameter 'date_assigned' is set
        if ($date_assigned === null) {
            throw new \InvalidArgumentException('Missing the required parameter $date_assigned when calling getGradebookEntryByKey');
        }
  
        // parse inputs
        $resourcePath = "/gradebookEntries";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        
        if ($title !== null) {
            $queryParams['title'] = $this->apiClient->getSerializer()->toQueryValue($title);
        }// query params
        
        if ($classroom_identification_code !== null) {
            $queryParams['classroomIdentificationCode'] = $this->apiClient->getSerializer()->toQueryValue($classroom_identification_code);
        }// query params
        
        if ($school_id !== null) {
            $queryParams['schoolId'] = $this->apiClient->getSerializer()->toQueryValue($school_id);
        }// query params
        
        if ($class_period_name !== null) {
            $queryParams['classPeriodName'] = $this->apiClient->getSerializer()->toQueryValue($class_period_name);
        }// query params
        
        if ($local_course_code !== null) {
            $queryParams['localCourseCode'] = $this->apiClient->getSerializer()->toQueryValue($local_course_code);
        }// query params
        
        if ($school_year !== null) {
            $queryParams['schoolYear'] = $this->apiClient->getSerializer()->toQueryValue($school_year);
        }// query params
        
        if ($term_descriptor !== null) {
            $queryParams['termDescriptor'] = $this->apiClient->getSerializer()->toQueryValue($term_descriptor);
        }// query params
        
        if ($unique_section_code !== null) {
            $queryParams['uniqueSectionCode'] = $this->apiClient->getSerializer()->toQueryValue($unique_section_code);
        }// query params
        
        if ($sequence_of_course !== null) {
            $queryParams['sequenceOfCourse'] = $this->apiClient->getSerializer()->toQueryValue($sequence_of_course);
        }// query params
        
        if ($date_assigned !== null) {
            $queryParams['dateAssigned'] = $this->apiClient->getSerializer()->toQueryValue($date_assigned);
        }
        // header params
        
        if ($if_none_match !== null) {
            $headerParams['If-None-Match'] = $this->apiClient->getSerializer()->toHeaderValue($if_none_match);
        }
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\GradebookEntry'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\GradebookEntry', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\GradebookEntry', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 500:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\WebServiceError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * postGradebookEntries
     *
     * Creates or updates resources based on the natural key values of the supplied resource.
     *
     * @param \Swagger\Client\Model\GradebookEntry $gradebook_entry The JSON representation of the \&quot;gradebookEntry\&quot; resource to be created or updated. (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function postGradebookEntries($gradebook_entry)
    {
        list($response, $statusCode, $httpHeader) = $this->postGradebookEntriesWithHttpInfo ($gradebook_entry);
        return $response; 
    }


    /**
     * postGradebookEntriesWithHttpInfo
     *
     * Creates or updates resources based on the natural key values of the supplied resource.
     *
     * @param \Swagger\Client\Model\GradebookEntry $gradebook_entry The JSON representation of the \&quot;gradebookEntry\&quot; resource to be created or updated. (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function postGradebookEntriesWithHttpInfo($gradebook_entry)
    {
        
        // verify the required parameter 'gradebook_entry' is set
        if ($gradebook_entry === null) {
            throw new \InvalidArgumentException('Missing the required parameter $gradebook_entry when calling postGradebookEntries');
        }
  
        // parse inputs
        $resourcePath = "/gradebookEntries";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // body params
        $_tempBody = null;
        if (isset($gradebook_entry)) {
            $_tempBody = $gradebook_entry;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'POST',
                $queryParams, $httpBody,
                $headerParams
            );
            
            return array(null, $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 500:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\WebServiceError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * putGradebookEntry
     *
     * Updates or creates a resource based on the resource identifier.
     *
     * @param string $id A resource identifier specifying the resource to be updated. (required)
     * @param \Swagger\Client\Model\GradebookEntry $gradebook_entry The JSON representation of the \&quot;gradebookEntry\&quot; resource to be updated. (required)
     * @param string $if_match The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function putGradebookEntry($id, $gradebook_entry, $if_match = null)
    {
        list($response, $statusCode, $httpHeader) = $this->putGradebookEntryWithHttpInfo ($id, $gradebook_entry, $if_match);
        return $response; 
    }


    /**
     * putGradebookEntryWithHttpInfo
     *
     * Updates or creates a resource based on the resource identifier.
     *
     * @param string $id A resource identifier specifying the resource to be updated. (required)
     * @param \Swagger\Client\Model\GradebookEntry $gradebook_entry The JSON representation of the \&quot;gradebookEntry\&quot; resource to be updated. (required)
     * @param string $if_match The ETag header value used to prevent the PUT from updating a resource modified by another consumer. (optional)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function putGradebookEntryWithHttpInfo($id, $gradebook_entry, $if_match = null)
    {
        
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling putGradebookEntry');
        }
        // verify the required parameter 'gradebook_entry' is set
        if ($gradebook_entry === null) {
            throw new \InvalidArgumentException('Missing the required parameter $gradebook_entry when calling putGradebookEntry');
        }
  
        // parse inputs
        $resourcePath = "/gradebookEntries/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        
        // header params
        
        if ($if_match !== null) {
            $headerParams['If-Match'] = $this->apiClient->getSerializer()->toHeaderValue($if_match);
        }
        // path params
        
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // body params
        $_tempBody = null;
        if (isset($gradebook_entry)) {
            $_tempBody = $gradebook_entry;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'PUT',
                $queryParams, $httpBody,
                $headerParams
            );
            
            return array(null, $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 500:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\WebServiceError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
}
